
.DS_Store
_build
_site/
build/

# Ignore node stuff from Wrangler installation
node_modules/
.wrangler/
package-lock.json
package.json
*.pyc
source/_ext/__pycache__/
source/_ext/__pycache__/qms_header.cpython-310.pyc
